<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render Pages::PageTitleComponent.new(title: "Login") %>

  <%= form_with url: session_url, class: "contents, px-8" do |form| %>
    <%= render "shared/input_field", form: form, field: :email_address,
               label: "Usuario", placeholder: "Digite seu email",
               input_type: :email_field, size: "w-full",
               options: { required: true, autofocus: true } %>
    %>

    <%= render "shared/input_field", form: form, field: :password,
               label: "Senha", placeholder: "Digite sua senha",
               input_type: :password_field, size: "w-full",
               options: { required: true } %>

    <div class="flex flex-col items-center gap-4">
      <%= render "shared/submit_button", form: form, label: "Entrar" %>
      <div class="text-sm text-gray-500">
        <%= link_to "Esqueceu sua senha?", new_password_path,
                    class: "text-gray-100 hover:no-underline" %>
      </div>
    </div>
  <% end %>
</div>


