<div class="max-w-5xl mx-auto p-6">

  <h1 class="text-2xl font-bold text-yellow-500 text-center mb-6">
    Folha de Pagamento
  </h1>

  <div class="bg-white shadow-md rounded-lg p-6 mb-8">
    <%= form_with url: reports_path, method: :get, local: true,
                  class: "grid grid-cols-1 md:grid-cols-3 gap-4 items-end" do %>

      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-700 mb-1">
          Data Inicial
        </label>
        <%= date_field_tag :start_date, params[:start_date],
                           class: "border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="flex flex-col">
        <label class="text-sm font-medium text-gray-700 mb-1">
          Data Final
        </label>
        <%= date_field_tag :end_date, params[:end_date],
                           class: "border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="flex gap-3">
        <%= submit_tag "Filtrar",
                       class: "bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition" %>

        <%= link_to "Mês Atual", reports_path,
                    class: "bg-gray-200 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-300 transition" %>
      </div>

    <% end %>
  </div>
</div>

<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <table class="min-w-full divide-y divide-gray-200">

    <thead class="bg-gray-50">
    <tr>
      <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
        Funcionário
      </th>
      <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
        Horas
      </th>
      <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
        Pagamento
      </th>
    </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200">
    <% @results&.each do |result| %>
      <tr class="hover:bg-gray-50 transition">
        <td class=" flex-row px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
          <%= result[:employee].user.first_name %>
          <%= result[:employee].user.last_name %>
        </td>

        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
          <%#= result[:hours].round(2) %> <!-- horas em decimal -->
          <%= format_hours(result[:hours].round(2)) %>
        </td>

        <td class="px-6 py-4 whitespace-nowrap text-sm font-semibold text-gray-800">
          <%= number_to_currency(result[:amount], unit: "R$", separator: ",", delimiter: ".") %>
          <%#= result[:amount]  %> <!-- valor sem formatar -->
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>